<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HubSpotGetTokensUrl" value="https://api.hubapi.com/oauth/v1/token" />
    <add key="HubSpotGetRefreshTokenInfoUrl" value="https://api.hubapi.com/oauth/v1/refresh-tokens/" />
    <add key="FuelsyHubSpotRedirectUrl" value="https://app.hubspot.com/oauth/authorize" />
    <!-- TODO: Eventually change the following to Fuelsy's client id & secret -->
    <add key="HubSpotClientId" value="cadccdeb-10f0-4f57-b8d7-66d118a6671a" />
    <add key="HubSpotClientSecret" value="2d48d013-5196-4398-9c32-455425ecac72" />
  </appSettings>
</configuration>